
/_ReSharper.VirtualViewModel
/_ReSharper.DynamiclViewModel
/DynamicViewModelUI/bin
/DynamicViewModelUI/obj
/VirtualViewModel/obj
/VirtualViewModel/bin
/DynamicViewModelTests/obj
/DynamicViewModelTests/bin